//
// Basic settings
// --------------------------------------------------

	@mixin make-grid() {
		@if($output-grid-css == true){

			// Assign the class in the $grid-settings for the wrapper to the %grid-core-content-wrapper
			.#{$grid-name-for-wrapper}{
				@include is-wrapper();

				@if($grid-fluid != true) {
					@each $breakpoint, $width in $grid-wrapper-widths {
						@if($breakpoint == 'base') {

						}@else {
							@include breakpoint($breakpoint) {
								max-width: rem($width + ($grid-viewport-spacing) + ($grid-viewport-spacing));
							}
						}
					}
				}
			}

			// Create the Flex container + columns
			.#{$grid-name-for-flex-row} {
				@include is-flex-row();

				> .#{$grid-name-for-flex-column} {
					position: relative;
					padding-left: rem($grid-column-spacing);
					padding-right: rem($grid-column-spacing);
					flex: 1 1 0px;
					min-width: initial;
				}
			}

			.#{$grid-name-for-flex-row} > .#{$grid-name-for-flex-column}.#{$grid-name-for-flex-grow-addition} {
				flex: 1 1 0px;
			}

			@if($grid-output-flex-order == true) {
				@for $i from 1 through $grid-output-flex-order-limit {
					.order-#{$i} {
						order: $i;
					}
				}

				@each $breakpoint, $value in $breakpoints {
					@if($breakpoint == 'base') {

					}@else {
						@for $x from 1 through $grid-output-flex-order-limit {
							.order-#{$x}-#{$breakpoint} {
								order: $x;
							}
						}
					}
				}
			}

			.#{$grid-name-for-row}{
				@include is-row();
			}

			.#{$grid-name-for-row} > .#{$grid-name-for-column} {
				position: relative;
				float: left;
				padding-right: rem($grid-column-spacing);
				padding-left: rem($grid-column-spacing);
				width: 100%;
			}

			.#{$grid-name-for-flex-row} > .#{$grid-name-for-flex-column}.#{$grid-name-for-flex-auto-addition} {
				flex: 0 0 auto;
				max-width: 100%;
			}

			@include grid-builder-make-columns();

			@each $breakpoint-name, $breakpoint-value in $breakpoints {

				@include breakpoint($breakpoint-name) {
					@include grid-builder-make-columns($breakpoint-name);
				}

				@include breakpoint($breakpoint-name) {
					.#{$grid-name-for-flex-row} > .#{$grid-name-for-flex-column}.auto-#{$breakpoint-name} {
						//width: auto;
						flex: 0 0 auto;
						max-width: 100%;
					}
				}

				@include breakpoint($breakpoint-name) {
					.#{$grid-name-for-flex-row} > .#{$grid-name-for-flex-column}.#{$grid-name-for-flex-grow-addition}-#{$breakpoint-name} {
						flex: 1 1 0px;
					}
				}
			}

			@if($grid-float-breakpoint != false) {

				// Set all the classes to 100%, except the ones with a prefix for a width on float breakpoint width
				// Use with caution: IE9+

				.#{$grid-name-for-row} > .#{$grid-name-for-column}:not([class*='-#{$grid-float-breakpoint}']) {

					@include breakpoint($grid-float-breakpoint) {
						width: 100% !important; 		// set to 100% width
						margin-left: 0;				// Removes the push margins
						margin-right: 0;				// Removes the pull margins
						left: 0;			 			// Removes the offset
					}
				}
			}
		}
	}
