//
// Grid mixin for building a grid wrapper
// --------------------------------------------------

	@mixin is-wrapper($max-width: map-get($grid-wrapper-widths, base), $viewport-padding: $grid-viewport-spacing) {

		@include clearfix();
		position: relative;
		margin: 0 auto;
		padding-right: rem($viewport-padding);
		padding-left: rem($viewport-padding);
		//max-width: ($max-width + (2 * $grid-column-spacing) + (2 * $viewport-padding));
		max-width: rem($max-width + (2 * $viewport-padding));
		width: 100%;
	}

//
// Grid mixin for building a grid row
// --------------------------------------------------

	@mixin is-row($margin: $grid-column-spacing) {
		@include clearfix();
		margin-right: -#{rem($margin)};
		margin-left: -#{rem($margin)};
	}

	@mixin is-flex-row($margin: $grid-column-spacing) {
		display: flex;
		margin-right: -#{rem($margin)};
		margin-left: -#{rem($margin)};

		@if($grid-float-breakpoint != false) {
			flex-wrap: wrap;
		}
	}

//
// Grid mixin for building a grid column
// --------------------------------------------------

	@mixin is-column($column-size: 100%, $padding: $grid-column-spacing){

		@if(map-has-key($grid-column-sizes, $column-size) != false) {
			$column-size: map-get($grid-column-sizes, $column-size);
		}

		position: relative;
		float: left;
		width: $column-size;
		padding-left: rem($padding);
		padding-right: rem($padding);
		min-height: 1px;
	}

	@mixin is-flex-column($column-size: 100%, $padding: $grid-column-spacing) {
		@if(map-has-key($grid-column-sizes, $column-size) != false) {
			$column-size: map-get($grid-column-sizes, $column-size);
		}

		position: relative;
		width: $column-size;
		padding-left: rem($padding);
		padding-right: rem($padding);
		min-height: 1px;
	}

//
// Grid mixin for looping trough the columns defined in the configuration scss
// --------------------------------------------------

	@mixin grid-builder-make-columns($breakpoint-name: false) {
		@each $column-name, $column-size in $grid-column-sizes {

			@if(map-has-key($breakpoints, $breakpoint-name) == false) {
				.#{$grid-name-for-row} > .#{$grid-name-for-column}.#{$column-name} {
					width: #{$column-size};
				}

				.#{$grid-name-for-flex-row} > .#{$grid-name-for-flex-column}.#{$column-name} {
					flex: 0 0 #{$column-size};
					max-width: #{$column-size};
				}
			}

			@else {

				.#{$grid-name-for-row} > .#{$grid-name-for-column}.#{$column-name}-#{$breakpoint-name} {
					width: #{$column-size};
				}

				.#{$grid-name-for-flex-row} > .#{$grid-name-for-flex-column}.#{$column-name}-#{$breakpoint-name} {
					flex: 0 0 #{$column-size};
					max-width: #{$column-size};
				}
			}
		}
	}