//
// Breakpoints.
// --------------------------------------------------

	$breakpoints: (
		desktop-small:		'screen and (max-width: #{rem(1200)})', 		// Standard desktop
		tablet:				'screen and (max-width: #{rem(1023)})', 		// below iPad landscape
		small:				'screen and (max-width: #{rem(767)})', 		// below iPad portrait
		mobile:				'screen and (max-width: #{rem(480)})', 		// mobile devices
		mini:				'screen and (max-width: #{rem(320)})', 		// min accepted width
	) !default;

//
// Grid column sizes.
// --------------------------------------------------

	$grid-column-sizes: (
		'full'			:		'100%',
		'two-third'		:		'66.6666667%',
		'half'			:		'50%',
		'third'			:		'33.3333332%',
		'fourth'	    :		'25%',
		'fifth'			:		'20%',
		'sixth'			:		'16.6666667%',
	) !default;


//
// Grid config.
// --------------------------------------------------

	// Spacing between the columns (left and right)
	$grid-column-spacing: 					8 !default;

	// Spacing between the viewport and start of the wrapper
	// This value has to be more than or equal to the value in
	// $grid-column-spacing
	$grid-viewport-spacing: 				16 !default;

	// Set the breakpoint (as set in $_bruut--breakpoints-map) value
	// to set all columns to 100% width
	$grid-float-breakpoint: 				mobile !default;

	// If true, the wrapper will only have 1 max-width: the
	// base width defined in $grid-wrapper-widths
	// If false, the wrapper adds widths for the breakpoints
	// defined in $_bruut--breakpoints-map and added to
	// $grid-wrapper-widths as a key.
	$grid-fluid: 							false !default;

	// Define the wrapper widths on breakpoints. Set a breakpoint
	// name, defined in $_bruut--breakpoints-map as key and
	// a max-width. The max-width of the wrapper will be this width
	// plus 2 times the value in $grid-viewport-spacing.
	// So: (800px * (2 * 16px)) = max-width: 832px.
	$grid-wrapper-widths: (
		base:               1024,
		desktop-small:      800,
		tablet:             600,
	) !default;

	// Naming the different HTML selectors
	$grid-name-for-wrapper: 				'grid' !default;
	$grid-name-for-row: 					'row' !default;
	$grid-name-for-column: 					'column' !default;

	// Flex options
	$grid-name-for-flex-row: 				'row-flex' !default;
	$grid-name-for-flex-column: 			'column-flex' !default;
	$grid-name-for-flex-grow-addition: 		'grow' !default;
	$grid-name-for-flex-auto-addition: 		'auto' !default;

	// Apply order to flex grid
	$grid-output-flex-order:				true !default;
	$grid-output-flex-order-limit: 			6 !default;

//
// Legacy browser support
// --------------------------------------------------

	$legacy-support:						false !default;

//
// Output options
// --------------------------------------------------

	$output-grid-css: 						true !default;
	$output-color-helpers-to-css:			false !default;
	$output-show-hide-classes:          	false !default;
	$output-text-alignment-classes:     	false !default;
	$output-float-classes:             		false !default;
	$output-color-classes:              	false !default;
	$output-whitespace-classes:         	false !default;
	$output-normalize:         				true !default;
	$output-print-stylesheet:        		true !default;
	$output-flex: 							false !default;
