//
// Placeholder mixin
// --------------------------------------------------

	@mixin placeholder {
		$placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
			@each $placeholder in $placeholders {
				&:#{$placeholder}-placeholder {
				@content;
			}
		}
	}

//
// Vertical align
// --------------------------------------------------

	@mixin vertical-align {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

//
// Visually hidden mixin
// --------------------------------------------------

	@mixin visually-hidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

//
// Vertical align
// --------------------------------------------------

	@mixin inline-block {
		display: inline-block;

		@if($legacy-support) {
			zoom: 1;
			*display: inline;
		}
	}

//
// Breakpoint mixin
// --------------------------------------------------

	@mixin breakpoint($key) {

		@if(map-has-key($breakpoints, nth($key, 1))) {
			@media #{map-get($breakpoints, nth($key, 1))} {
				@content;
			}
		}@else {
			// Parse the breakpoint as a normal string
			@media #{$key} {
				@content;
			}
		}
	}

//
// Aspect ratio mixin
// --------------------------------------------------

	@mixin aspect-ratio($arglist... /*$ratio or $width, $height*/){
	    $map : keywords($arglist);
	    $height: map-get($map, height) or nth-or-null($arglist, 2);
	    $width:  map-get($map, width)  or nth-or-null($arglist, 1);
	    $ratio:  map-get($map, ratio)  or if($width and $height, $width/$height, nth-or-null($arglist, 1)) or 1;
	    $padding: 1/$ratio * 100%;
	    &:before { content: ''; display: inline-block; vertical-align: middle; padding-bottom: $padding; }
	    &:after  { content: ''; display:table; clear: both; }
	}

	// Helper function
	// Return null rather than throwing an error if index is outside list range.
	@function nth-or-null($list, $index) {
	  @return if(length($list) >= $index, nth($list, $index), null);
	}

//
// Clearfix mixin
// --------------------------------------------------

	@mixin clearfix() {

	    &:before,
	    &:after {
	        content: "";
	        display: table;
	    }
	    &:after {
	        clear: both;
	    }
	}

//
// Clearfix placeholder
// --------------------------------------------------

	%clearfix {

	    &:before,
	    &:after {
	        content: "";
	        display: table;
	    }
	    &:after {
	        clear: both;
	    }
	}

//
// Whitespace mixin
// --------------------------------------------------

	@mixin whitespace($axis: 'x', $steps: 1, $unit: 'padding') {

		@if($unit == 'padding' or 'margin') {
			@if($axis == 'top' or $axis == 'right' or $axis == 'bottom' or $axis == 'left') {

				#{$unit}-#{$axis}: rem($whitespace-spacing * $steps);

			}@elseif($axis == 'x' or $axis == 'horizontal') {

				#{$unit}-left: rem($whitespace-spacing * $steps);
				#{$unit}-right: rem($whitespace-spacing * $steps);

			}@elseif($axis == 'y' or $axis == 'vertical') {

				#{$unit}-top: rem($whitespace-spacing * $steps);
				#{$unit}-bottom: rem($whitespace-spacing * $steps);

			}@elseif($axis == 'xy' or $axis == 'all') {

				#{$unit}: rem($whitespace-spacing * $steps);
			}
		}@else {
			@warn 'Foute unit';
		}
	}

//
// Responsive type mixin
// --------------------------------------------------

	@mixin propValue($map) {
		@each $prop, $value in $map {
			@if($prop == 'font-size') {
				#{$prop}: rem($value);
			}@else {
				#{$prop} : #{$value};
			}
		}
	}

	@mixin font($element) {

		$map: map-get($font, $element);
		$base: map-get($map, base);

		@include propValue($base);

		$mq: map-remove($map, base);

		@each $bp, $attr in $mq {
			@include breakpoint($bp) {
				@include propValue($attr);
			}
		}
	}

//
// Background positions
// --------------------------------------------------

	@mixin background-positions($attribute: 'data-bg-position') {
		$bg-positions: (
			left-bottom: 	'left bottom',
			center-bottom: 	'center bottom',
			right-bottom: 	'right bottom',
			left-center: 	'left center',
			center-center: 	'center center',
			right-center: 	'right center',
			left-top: 		'left top',
			center-top: 	'center top',
			right-top: 		'right top'
		);

		@each $key, $value in $bg-positions {
			&[#{$attribute}="#{$value}"]{
				background-position: #{$value};
			}
		}
	}




