//
// Return the z-index from a map (defaults to $z-index)
// --------------------------------------------------

	@function z-index($key, $map: $z-index) {
		@if map-has-key($map, $key) {
			@return map-get($map, $key);
		}

		@warn "Unknown `#{$key}` in $z-index. Function z-index() in functions.scss";
		@return null;
	}

//
// Get color from map
// Arguments: color (text), map (defaults to $project-colors)
// --------------------------------------------------

	@function c($color, $color-map: $colors) {
		@return map-get($color-map, $color);
	}

//
// Create rem size from pixel value
// Arguments: $size (INT)
// --------------------------------------------------

	@function rem($size, $base: $base-font-size) {
		$remSize: ($size / ($size * 0 + 1)) / ($base-font-size / ($base-font-size * 0 + 1));
		@return $remSize + 0rem;
	}
